<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-5 offset-4">Login on CozyClouds</h1>
    <div class="col-4 offset-4">
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" placeholder="Enter your Username!" type="text" class="form-control" required>
                
            </div>
            <!-- <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" id="email" placeholder="Enter your Email!" type="email" class="form-control" required>                
            </div> -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" placeholder="Enter your Password!" type="password" class="form-control" required>                
            </div>
            <button class="btn btn-dark edit-btn mt-3 offset-5">Login</button>
        </form>
    </div>
</div>        